<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>todo app</h1>
    <form action="">
        <div>
            <label for="title">todo</label>
            <input type="text" name="title" placeholder="Ente todo...">
            <button type="submit">add</button>
        </div>
    </form>

    {% for todo in todo_list %}
        <p> {{ todo.id }} | {{ todo.title }} </p>
        {% if todo.complete == False %}
            <span>Not Complete</span>
        {% else%}
            <span>Completed</span>
        {% endif%}
        <a href="/">Update</a>
        <a href="/">Delet</a>
    {% endfor %}

</body>
</html>